/* footer.css */
@charset "UTF-8";

#Bottom {
	position:relative;
	display:block;
	margin-top:20px;
	width:1735px;
	height:150px;
	text-align:center;
	vertical-align:middle;
	background-color:#C3B9AB;
}
footer {
	position:relative;
	display:inline-block;
	width:1300px;
	height:100%;
}
#Footer1 {
	position:relative;
	display:block;
	margin-top:30px;
	margin-left:50px;
	float:left;
	font-size:13pt;
}
#Footer2 {
	position:relative;
	display:block;
	margin-top:40px;
	margin-left:50px;
	float:left;
	text-align:left;
	font-size:13px;
}
.FooterLogo {
	position:relative;
	display:inline-block;
	z-index:1;
	margin-top:30px;
	margin-left:50px;
	max-width:300px;
	max-height:200px;
}

/* 하단 */